<table class="table">
     <tr>
          <td><input type="text" name="remit_empID" id="remit_empID" class="form-control hidden" value="@Session["empID"]" required /></td>
     </tr>
     <tr>
          <td><label class="pull-left">No.Payment</label></td>
          <td><input type="text" name="remit_maxCount" id="remit_maxCount" class="form-control input-data" value="@Session["Pagibig_Max"]" required /></td>
     </tr>
     <tr>
          <td><label class="pull-left">No.Paid</label></td>
          <td><input type="text" name="remit_count" id="remit_count" class="form-control input-data" value="@Session["Pagibig_Count"]" required /></td>
     </tr>
     <tr>
          <td><label class="pull-left">Amount/Month</label></td>
          <td><input type="text" name="remit_amount" id="remit_amount" class="form-control input-data" value="@Session["Pagibig_Amount"]" required /></td>
     </tr>
     <tr>
          <td colspan="2"><center><button type="submit" name="remit_submit" id="remit_submit" class="btn btn-success" value="Pagibig">SAVE</button></center></td>
     </tr>
</table>