@if (ViewBag.Message != null)
{
     if (ViewBag.Message.Equals("Generated Successfully"))
     {
          <div class="alert alert-success center" role="alert">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               <span class="sr-only">Error:</span>
               @ViewBag.Message
          </div>
     }
     else
     {
          <div class="alert alert-danger center" role="alert">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               <span class="sr-only">Error:</span>
               @ViewBag.Message
          </div>
     }
}
