<form method="POST" action="@Url.Action("CreateSalarySummary","Report")" id="regular_salary_form">
     <div class="">
          <table class="">
               <tr>
                    <td style="width: 30%"><strong>Date</strong></td>
                    <td style="width: 10%">: </td>
                    <td style="width: 60%">
                         <input type="text" name="date" placeholder="Choose Date" class="inline form-control regular_salary_date" style="border-radius:0px;background:#fff" readonly />
                    </td>
               </tr>
               <tr>
                    <td style="width: 30%"><strong>Salary Charge</strong></td>
                    <td style="width: 10%"> :</td>
                    <td style="width: 60%">

                         <select name="salary_charge" id="salary_charge" class="form-control fa-pull-left" style="border-radius:0px;" required>
                              <option value="ALL">ALL</option>
                              <option value="RD_ARD">RD/ARD</option>
                              <option value="MSD">MSD</option>
                              <option value="LHSD">LHSD</option>
                              <option value="RLED">RLED</option>
                              <option value="PDO-CEBU">PDO-CEBU</option>
                              <option value="PDO-NEGROS">PDO-NEGROS</option>
                              <option value="PDO-SIQUIJOR">PDO-SIQUIJOR</option>
                         </select>
                    </td>
               </tr>
          </table>
     </div>
     <button type="submit" name="submit" class="btn-lg btn-default center-block col-sm-12 btn_payroll_print" value="Search">
          <span class="fas fa-print" aria-hidden="true"></span> Print
     </button>
</form>